body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #ff306702, #f6ecf3 48%, #ff306702);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Moroccan";
  src: local("maghribi-font"),
    url("./fonts/maghribi-font.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

.MuiTypography-root {
  font-family: "Gilroy-Bold", -apple-system, system-ui, sans-serif !important;
}

.MuiOutlinedInput-input {
  z-index: 2;
}