body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #e0d1f5, #f6ecf3 48%, #e0d1f5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.MuiTypography-root {
  font-family: "Gilroy-Bold", -apple-system, system-ui, sans-serif !important;
}